<h1>Listing Courses</h1>
<hr>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="row" data-no-turbolink="true">
<br/>
<% @courses.each do |course| %>
  <%= link_to course do %>
  <div class="col l4 m6 s12">
    <div class="row">
      <div class="col s12">
        <div class="card x-large" id="profile-page-header">

          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag course.image(:medium), :alt => "user background", :class => "activator" %>

            <figure class="card-profile-image">
              <%= image_tag course.avatar(:medium), :alt => "profile image", :class => "circle z-depth-2 responsive-img activator" %>
            </figure>
          </div>

          <div class="card-content" style="height: 10em">
            <span class="card-title light-blue-text">
              <%= course.shortname %>
            </span>
            <hr>

            <span class="card-title light-blue-text">
              <%= course.instructor %>
              <br/>
              <%= course.organization %>
            </span>
          </div>

          <div>
            <a href="#" class="halfway-fab btn-floating light-blue darken-4 pulse">
              <i class="material-icons">favorite_border</i>
            </a>
          </div>

          <div class="card-action">
            <div class="row">



            </div>
            <div class="action-icons float-right">
              Reviews
              <i class="material-icons action-icon" role="button" title="Share">share</i>
              <i class="material-icons action-icon activator" role="button" title="More options">more_vert</i>
            </div>
          </div>

          <div class="card-reveal">
            <div class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></div>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% end %>
<% end %>
</div>
<br><br>
