<h1><%= @course.name %></h1>
<hr>
<span>Offered by <%= @course.organization %></span>

<div class="row">
  <div class="col m3 center">
    <div class="card z-depth-2">

      <% if !@joined %>

      <div class="center">
        <h3 class="light-blue-text text-darken-4">
          <%= @course.price == 0? "Free" : "$#{@course.price}" %>
        </h3>
      </div>
      <div class="card-action center">
        <% if user_signed_in? %>
          <% if @course.price == 0 %>
            <%= form_tag free_path do %>
              <%= hidden_field_tag 'course_id', @course.id %>
              <button class="btn waves-effect waves-light white light-blue-text text-darken-4">
                Enroll
              </button>
              <br><br>
              <div class="light-blue-text text-darken-4">Financing Options</div>
            <% end %>
          <% else %>
            <%= form_tag pay_path, id:'chargeForm' do %>
            <script src="https://checkout.stripe.com/checkout.js"></script>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %>
            <%= hidden_field_tag 'course_id', @course.id %>

            <button id="customButton" type="button" class="white orange-text">Enroll</button>

            <script>
            var handler = StripeCheckout.configure({
              key: '<%= ENV['STRIP_PUBLIC_KEY'] %>',
              image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                $('#stripeToken').val(token.id);
                $('#stripeEmail').val(token.email);
                $('#chargeForm').submit();

                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
              }
            });

            document.getElementById('customButton').addEventListener('click', function(e) {
              // Open Checkout with further options:
              handler.open({
                name: 'SkyUni',
                description: '<%= @course.name %>',
                amount: <%= @course.price_in_cents %>
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
              handler.close();
            });
            </script>
            <% end %>
          <% end %>


        <% else %>
          <%= link_to new_user_session_path do %>
            <button class="btn waves-effect waves-light white light-blue-text text-darken-4">
              Enroll
            </button>
            <br><br>
            <span class="light-blue-text text-darken-4">Financing Options</span>
          <% end %>
        <% end %>

      </div>

      <% else %>

      <div class="card-content center">
        <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-medium" %> <br/>
        <h5><%= current_user.name %></h5>
      </div>

      <div class="card-action center">
        <% @users.each do |u| %>
          <span class="valign-wrapper">
            <%= image_tag avatar_url(u), class: "circle responsive-img avatar-small" %>&nbsp;
            <%= u.name %>
          </span><br/>
        <% end %>
      </div>

      <% end %>


    </div>
  </div>

  <div class="col m9">
    <div class="card z-depth-2">
      <div class="row">
        <div class="col s6">
          <div class="card-image">
            <p><%= image_tag @course.image(:medium) %></p>
            <span class="card-title"><%= @course.name %></span>
          </div>
        </div>

        <div class="col s6">
          <div class="card horizontal">
            <div class="card-profile">
              <figure><%= image_tag @course.avatar(:medium) %></figure>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <a href="#" class="amber-text text-darken-4"><%= @course.instructor %></a>
              </div>

              <div class="card-action">
                <a href="#" class="amber-text text-darken-4"><%= @course.organization %></a>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
         <div class="col s12">
           <ul class="tabs">
             <li class="tab col s3"><a class="active amber-text text-darken-4" href="#about">About</a></li>
             <li class="tab col s3"><a class="amber-text text-darken-4" href="#lectures">Lectures</a></li>
             <li class="tab col s3"><a class="amber-text text-darken-4" href="#discussions">Discussions</a></li>
             <li class="tab col s3"><a class="amber-text text-darken-4" href="#students">Enrolled Students</a></li>
           </ul>
         </div>
          <div id="about" class="col s12">
            <!-- About the courses -->
            <div class="card-content grey-text text-darken-4">
              <span id="average_rating"></span>
              <p><%= @reviews.count %> <%= @reviews.count > 1? "Reviews" : "Review" %></p>
              <hr>

              <h5>About This Course</h5>
              <hr>
              <p><%= @course.content %></p>

              <h5>Syllabus - What you will achieve from this course</h5>
              <hr>

              Sylabus and rules

              <h5>About <%= @course.organization %> </h5>
              <hr>
              <p><%= @course.content %></p>

              <h5>About <%= @course.instructor %> </h5>
              <hr>
              <p><%= @course.content %></p>

              <h5>Reviews & Comments</h5>
              <div><%= render 'reviews/form' if @joined && !@hasReview %></div>
              <div><%= render 'reviews/index' %></div>

              <div class="">
                <h5>Start Learning Now</h5>
                <span class="light-blue-text text-darken-4">Financing Options</span>
                <hr>
              </div>
            </div>
          </div>

          <div id="lectures" class="col s10 offset-s1">
            <!-- Lectures Videos -->
            <div class="collection" data-no-turbolink="true">
              <% @lectures.each do |lecture| %>
                <% if lecture.header %>
                  <div class="collection-item light-blue darken-4 active">
                    <i class="material-icons">school</i>
                    <%= lecture.title %>
                  </div>
                <% else %>
                  <%= link_to [lecture.course, lecture], class:"collection-item light-blue-text text-darken-4" do %>
                  <%= lecture.title %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div id="discussions" class="col s12">
            Discussions
            <!-- Discussions here -->
          </div>

          <div id="students" class="col s12">
            <!-- More courses here -->
            <% if !@joined %>
              You need to enroll in order to see enrolled students.
            <% else %>

            <div class="card-content center">
              <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-medium" %> <br/>
              <h5><%= current_user.name %></h5>
            </div>

            <div class="card-action center">
              <% @users.each do |u| %>
                <span class="valign-wrapper">
                  <%= image_tag avatar_url(u), class: "circle responsive-img avatar-small" %>&nbsp;
                  <%= u.name %>
                </span><br/>
              <% end %>
            </div>

            <% end %>

          </div>
       </div>

    </div>
  </div>
</div>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @course.average_rating %>
  });
</script>
