<header>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><%= link_to "Profile", edit_user_registration_path %></li>
    <li><a href="#!"><i class="material-icons">class</i>Classes</a></li>
    <li><a href="#!"><i class="material-icons">vibration</i>Tools</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Help</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id='dropdown2' class='dropdown-content'>
    <li><%= link_to "Profile", edit_user_registration_path %></li>
    <li><a href="#!"><i class="material-icons">class</i>Classes</a></li>
    <li><a href="#!"><i class="material-icons">vibration</i>Tools</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i></a>Help</li>
    <li class="divider" tabindex="-1"></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  </ul>

  <nav class="light-blue darken-4 z-depth-2">
    <div class="row">
      <div class="nav-wrapper col s10 offset-s1">
        <a href="#!" class="brand-logo">SkyUni</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Explore</a></li>
          <% if(!user_signed_in?)%>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% else %>
            <!-- Dropdown Trigger 1-->
            <a class='dropdown-trigger valign-wrapper' href='#' data-target='dropdown1'>
              <%= image_tag avatar_url(current_user), class: "circle responsive-img"%>&nbsp;
              <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a>
          <% end %>
        </ul>

        <ul class="sidenav" id="mobile-demo">
          <% if(!user_signed_in?)%>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% else %>
            <!-- Dropdown Trigger 1-->
            <a class='dropdown-trigger valign-wrapper' href='#' data-target='dropdown2'>
              <%= image_tag avatar_url(current_user), class: "circle responsive-img"%>&nbsp;
              <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>

</header>
