<div class="row">
  <div class="col m4">
    <div class="card z-depth-2">
      <div class="card-content">
        <div class="collection">
          <% @lectures.each do |lecture| %>
            <% if lecture.header %>
              <div class="collection-item light-blue darken-4 active">
                <i class="material-icons">school</i> <%= lecture.title %>
              </div>
            <% else %>
              <%= link_to [lecture.course, lecture], class:"collection-item light-blue-text text-darken-4" do %>
                <%= lecture.title %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col m8">
    <div class="card z-depth-2">
      <div class="card-content">
        <%= @lecture.video %>
      </div>
      <div class="card-action grey-text text-darken-4">
        <h5><%= @lecture.title %></h5>
        <hr>
        <%= markdown(@lecture.note) %>
      </div>
    </div>
  </div>
</div>
