<!DOCTYPE html>
<html>
  <head>
    <title>SkyUni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>

  <%= render partial: "shared/header" %>
  <%= render partial: "shared/message" %>

   <main>
    <div class="container">

      <%= yield %>

    </div>
   </main>

  <%= render partial: "shared/footer" %>

    <script>

      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.dropdown-trigger').dropdown();
      });

    </script>

    <script>
      $(document).ready(function(){
        $('.tabs').tabs();
      });
    </script>


  </body>



</html>
